/* Jonah Greenstein Creative Portfolio - Pykari CSS */

body {
	margin: 0 auto;
	max-width: 50rem;
}

img {
	max-width: 100%;
	height: auto;
}

.image-container {
	display: flex;
	gap: 0px;
	align-items: center;
}

.image-container img {
	max-width: 100%;
	height: auto;
}

.split {
	max-width: 50%;
	height: auto;
	display: inline-block;
}
